.rmbody__contents__inside
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "Huawei nova 5T", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "Galaxy Note10+", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "Galaxy S10", "#", class: 'rmlink'