.rmbody__contents__inside
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "OPPO A5 2020", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "AQUOS sense3 plus", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "AQUOS sense3 lite", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "Rakuten Mini", "#", class: 'rmlink'

.rmbody__contents__inside
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "Xpelia Ace", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "Galaxy A7", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "OPPO Reno A 128GB", "#", class: 'rmlink'
  .rmbody__contents__inside__android
    .rmbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .rmbody__contents__inside__android__text
      = link_to "arrows RX", "#", class: 'rmlink'