.header
  .header__text
    = link_to "機種変更のすヽめ",root_path
.body
  .body__contents
    .body__contents__main
      %ul.body__contents__main__inside
        %li
          = link_to "docomo","#"
          %hr
        %li
          = link_to "SoftBank","#"
          %hr
        %li
          = link_to "au","#"
          %hr
        %li
          = link_to "楽天モバイル","#"
    .body__contents__left
      .body__contents__left__profile
        .body__contents__left__profile__icon
        .body__contents__left__profile__name
          name
          %hr
      %ul.body__contents__left__like
        %li
          = link_to "気になる","#"