= render partial: "layouts/header"
.body
  .body__contents
  
    .body__contents__main
      %ul.body__contents__main__inside
        %li
          = link_to "docomo", docomo_index_path
          %hr
        %li
          = link_to "SoftBank", softbank_index_path
          %hr
        %li
          = link_to "au", au_index_path
          %hr
        %li
          = link_to "楽天モバイル", rmobile_index_path

    .body__contents__left
      .body__contents__left__profile
        .body__contents__left__profile__icon
          = image_tag("android-icon.png", class: "android-icon")
        .body__contents__left__profile__name
          = current_user.name
          %hr
      %ul.body__contents__left__like
        %li
          = link_to "気になる","#"
          %hr
        %li
          = link_to "ログアウト",logout_path