.sbbody__contents__inside
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "LG G8X ThinQ","#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "Xperia 5","#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "AQUOS R3","#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "Google Pixel 4 / 4XL","#", class: 'sblink'