.sbbody__contents__inside
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "AQUOS R5G","#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "LG V60 ThinQ 5G","#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "ZTE Axon 10 Pro 5G","#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "OPPO Reno3 5G","#", class: 'sblink'