#login-page.login-page
  .login-page__contents
    .login-page__contents__top
      .login-page__contents__top__text
        ログイン
    .login-page__contents__main
      .login-page__contents__main__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .toregistration
            =link_to '新規登録はこちら', new_user_registration_path
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "ログイン"
