.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "Xperia 1 II", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "Galaxy S20 5G", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "Galaxy S20+ 5G", "#", class: 'aulink'

.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "AQUOS R5G", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "OPPO Find X2 Pro", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "Mi 10 Lite 5G", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .aubody__contents__inside__android__text
      = link_to "ZTE a1", "#", class: 'aulink'