.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Xperia 10 II", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy A41", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "AQUOS sense3 basic", "#", class: 'aulink'

.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Xperia 8", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "AQUOS sense3 plus サウンド", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "AQUOS sense3", "#", class: 'aulink'

.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy A20", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "BASIO4", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "TORQUE G04", "#", class: 'aulink'

.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "HUAWEI P30 lite Premium", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy A30", "#", class: 'aulink'
