.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy Z Flip", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Xperia 5", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy Note10+", "#", class: 'aulink'

.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "AQUOS zero2", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Xperia 1", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy S10＋", "#", class: 'aulink'

.aubody__contents__inside
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "Galaxy S10", "#", class: 'aulink'
  .aubody__contents__inside__android
    .aubody__contents__inside__android__image
    .aubody__contents__inside__android__text
      = link_to "AQUOS R3", "#", class: 'aulink'
