.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Xperia 10 II", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Xperia Ace", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Galaxy A41", "#", class: 'docomolink'

.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "LG style3", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "AQUOS sense3", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Galaxy A20", "#", class: 'docomolink'

.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "LG style2", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "arrows Be4", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "arrows Be3", "#", class: 'docomolink'