.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Galaxy S20 5G", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "AQUOS R5G", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Xperia 1 II", "#", class: 'docomolink'

.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "LG V60 ThinQ 5G", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Galaxy S20+ 5G", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "arrows 5G", "#", class: 'docomolink'