.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Xperia 5", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Galaxy S10", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Galaxy S10+", "#", class: 'docomolink'

.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "Xperia XZ3", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "HUAWEI P20 Pro", "#", class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
    .docomobody__contents__inside__android__text
      = link_to "HUAWEI P30 Pro", "#", class: 'docomolink'