.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Xperia 10 II", docomo_xperia10II_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Galaxy A41", docomo_GalaxyA41_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "LG style3", docomo_LGstyle3_path, class: 'docomolink'

.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "AQUOS sense3", docomo_AQUOSsense3_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Galaxy A20", docomo_GalaxyA20_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "arrows Be4", docomo_arrowsBe4_path, class: 'docomolink'