.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Galaxy S20 5G", docomo_GalaxyS205G_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Galaxy S20+ 5G", docomo_GalaxyS20plus5G_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "Xperia 1 II", docomo_Xperia1II_path, class: 'docomolink'

.docomobody__contents__inside
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "LG V60 ThinQ 5G", docomo_LGV60ThinQ5G_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "AQUOS R5G", docomo_AQUOSR5G_path, class: 'docomolink'
  .docomobody__contents__inside__android
    .docomobody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .docomobody__contents__inside__android__text
      = link_to "arrows 5G", docomo_arrows5G_path, class: 'docomolink'